Package: dev.spytaspund.redalien
Name: RedAlien
Depends: mobilesubstrate, firmware (>= 3.0), com.nin9tyfour.ffmpeg
Recommends: com.skyglow.tlsfix
Version: 0.0.3
Architecture: iphoneos-arm
Description: Various fixes for AlienBlue and other Reddit clients.
Maintainer: spytaspund
Author: spytaspund
Section: Tweaks